html,
body {
	height: 100%;
	width: 100%;
}

body {
	background: $dark-grey;
}

kbd{
  color: $turquoise;
  font-size: 3em;
  font-weight: 800;
}

.sound{
  color: $silver ;
}

.key{
  background: $light-grey;
  border-radius: 10px;
  transition: ease-out all .1s;

  @include flex-column-center;
}

.play{
  background: $turquoise;
  transform: scale(1.1);
}
