html,
body {
	height: 100%;
	width: 100%;
}

body {
	background: $dark-grey;
}

.logo{
  width: 30%;
}

kbd{
  color: $silver;
  font-size: 2em;
  font-weight: 800;
}

.sound-icon{
  height: 50%;
}

.sound-title{
  color: $silver;
  font-size: .7em;
  font-weight: 100;
  opacity: 0.7;
}

.key{
  background: $light-grey;
  border-radius: 10px;
  transition: ease-out all .1s;
  height: 120px;

  @include flex-column-center;
}

.play{
  background: $turquoise;
  transform: scale(1.1);
}


// TABLETS & DESKTOP

@media  (min-width: 960px) {
  .key{
    height: auto;
  }
}