// MOBILE DISPLAY
body{
  @include flex-column-evenly;
}

main {
  height: 90%;
  width: 100%;

	@include flex-column-evenly;
}

.keys{
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

// TABLETS & DESKTOP

@media  (min-width: 960px) {
  .keys{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}